pandas
numpy
scikit-learn
spacy
nltk
streamlit
langdetect
joblib
googletrans
pycld2

# python -m spacy download en_core_web_sm
# python -m spacy download es_core_news_sm
# python -m spacy download fr_core_news_sm
# python -m spacy download xx_ent_wiki_sm